*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3d64e6;
    display: grid;
    place-items: center;
    gap: 1.2rem;
    padding-top: 3rem;
}

.container{
    background-color: #fff;
    width: 80vw;
    max-width: 37.5em;
    height: 120px;
    box-sizing: border-box;
    padding: 1em 2.5em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.error-message{
    margin-bottom: 9px;
}

.error-message h2{
    color: red;
    font-size: 1em;
    text-align: center;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;

}

.search-wrapper input{
    font-size: 16px;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}


.result-container{
    background-color: #fff;
    width: 80vw;
    max-width: 37.5em;
    height: 300px;
    padding: 1.2em 2.5em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.image-wrapper{
    width: 100%;
    height: 45%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.result-details-wrapper{
    width: 100%;
    height: 45%;
    margin-top: 18px;
    padding: 4px 12px;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6em;
}

label h1{
    font-size: 24px;
}



@media screen and (max-width: 550px) {
    .container{   
        width: 98vw;
        max-width: none;
        height: 120px;
    }

    .search-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25em;
    }


    .search-wrapper button{
        padding: 16px 32px;
    }
    
    .search-wrapper input{
        text-align: center;
    }

    .result-container{
        background-color: #fff;
        width: 98vw;
        max-width: none;
        height: 300px;
        padding: 1.2em 2.5em;
       
    }

    label h1{
        font-size: 19px;
    }

    .result-details-wrapper{
        margin-top: 24px;
        padding: 4px 7px;
    }
    
    
}